# Ignore all heavy dataset files
TPs/TP2/Data
TPs/TP2_Clasificacion/data
TPs/TP4/Data/
TPs/TP5/data/
Proyecto_Final/SUVs/pf_suvs_i302_1s2024.csv
Proyecto_Final/SUVs/pf_suvs_test_i302_1s2024.csv
Proyecto_Final/SUVs/pf_suvs_test_ids_i302_1s2024.csv
Clases/02_Clase 2: Regresión Lineal/toy_dataset.pkl
Notebooks Introductorios/datasets

# Ignore student´s prediction files
Proyecto_Final/Student´s Predictions
Proyecto_Final/Mercado_Libre/Data

# change 

# Ignore others
/__pycache__
/.ipynb_checkpoints
.venv
Clases/06_Clase 6: Decision Trees/Data/ejemploCART.csv
TPs/TP3/Breast_Cancer/Data/1 - Breast Cancer Diagnosis/Balanced(old)
TPs/TP3/Breast_Cancer/Data/1 - Breast Cancer Diagnosis/Imbalanced/
TPs/TP3/Diabetes/Data/
Clases/07_Clase 7: MLPs & Backpropagations/datasets/
Consultas_Alumnos